* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: #EEE;
}

.container {
	display: block;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

header {
	background-color: #313131;
	padding: 24px 0px;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h3 {
	color: #FFF;
	font-size: 28px;
	text-transform: uppercase;
}

header .menu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 16px;
}

header .menu a {
	display: block;
	color: #FE4880;
	text-decoration: none;
	font-size: 20px;
	border-bottom: 3px solid transparent;
	transition: 0.4s;
}

header .menu a:hover {
	border-color: #FE4880;
}

header .menu a.is-active {
	border-color: #FE4880;
}

.contact-form {
	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
	min-height: 100vh;
}

.contact-form .container {
	background-image: linear-gradient(to bottom right, #8C38FF, #FE4880);
	padding: 32px;
	border-radius: 16px;
}

h1 {
	color: #313131;
	font-size: 72px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 32px;
}

form {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 32px;
	background-color: #FFF;
	border-radius: 16px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

h2 {
	color: #313131;
	font-size: 28px;
	margin-bottom: 16px;
}

.form-group {
	display: block;
	margin-bottom: 16px;
}

label {
	display: block;
	color: #AAA;
	font-size: 16px;
	margin-bottom: 5px;
}

.form-element {
	appearance: none;
	background: none;
	outline: none;
	border: none;

	display: block;
	width: 100%;
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 16px;
	border-radius: 8px;
	transition: 0.4s;
}

.form-element:focus {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

input[type="submit"] {
	display: inline-block;
	appearance: none;
	background: none;
	outline: none;
	border: none;

	padding: 8px 16px;
	background-color: #8C38FF;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.4s;
}

input[type="submit"]:hover {
	background-color: #FE4880;
}

.success {
	margin-top: 16px;
	display: block;
	width: 0%;
	overflow: hidden;
	padding: 8px 16px;
	background-color: #8C38FF;
	color: #FFF;
	font-size: 18px;
	animation: grow 0.5s linear forwards;
}

.error {
	margin-top: 16px;
	display: block;
	width: 0%;
	overflow: hidden;
	padding: 8px 16px;
	background-color: #AF1E2D;
	color: #FFF;
	font-size: 18px;
	animation: grow 0.5s linear forwards;
}

@keyframes grow {
	to {
		width: 100%;
	}
}